*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color:white;
    height: 5rem;
    line-height: 5rem;


}
.choice{
    height: 165px;
    width:165px;
    display: flex;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    
}
.choice2{
    height: 165px;
    width:165px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    
}
.choice3{
    height: 165px;
    width:165px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    
}
.choice:hover{
    
    cursor: pointer;
    background-color: #081b31;
    
    
}
.choice2:hover{
    
    cursor: pointer;
    background-color: #081b31;
    
    
}
.choice3:hover{
    
    cursor: pointer;
    background-color: #081b31;
    
    
}
img{
    height:150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;


}
.choices{
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 3rem;
    gap: 5rem;

}
#user-score,#computer-score{
    font-size: 4rem;

}
.msg-container{
    margin-top: 5rem;
}
#msg{
    margin-top: 5rem;
    color: #fff;
    background-color: #081b31;
    font-size: 2rem;
    display: inline;
    padding: 1rem ;
    border-radius: 1rem;


}